@model List<SYS_MENUS>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PointSale</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PointSale.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (ViewBag.userAutenticated == "true")
        {
            <nav class="navbar bg-body-tertiary border-body bg-dark border-bottom">
                <div class="container-fluid">
                    <div class="col-lg-2 col-sm-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <b><img src="~/iconos/list.svg" width="30" height="30" style="color: white" /></b>
                        </button>
                    </div>
                    <div class="col-lg-4 col-sm-4" style="align-items: start">
                        <h3><b> Point Sale System</b></h3>
                    </div>

                </div>
            </nav>
        }
    </header>
    
    <main>
        <aside>
        </aside>
        <section>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </section>
    </main>
    @if (ViewBag.userAutenticated == "true")
    {
        <footer class="footer bg-body-tertiary bg-dark" style="color: white">
            <div class="container-fluid">
                <b>&copy; Copyright Ing. Juan Carlos Carcamo Riveros - 2024 - PointSale</b>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
