@model PointSale.Entidades._00_Sistema.SYS_USUARIOS

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tu página</title>
    <link rel ="stylesheet" href="~/css/Login/Login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4 " style="background-color: rgba(255, 255, 255, 0.85);">
                <div class="row">
                    <img src="~/iconos/person-fill-lock.svg" width="150" height="150" />
                </div>
                <div class="row align-items-start">
                    <form asp-action="Login" method="post" asp-controller="Login">
                        <div class="mb-4">
                            <label asp-for="SUO_DS_CLAVE" class="form-label">
                                <b>Usuario<i class="cr">*</i>:</b>
                            </label>
                            <input asp-for="SUO_DS_CLAVE" class="form-control" type="text" id="UserLogin" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="SUO_DS_PWORD" class="form-label"><b>Contraseña<i class="cr">*</i>:</b></label>
                            <div class="input-group mb-3">
                                <input asp-for="SUO_DS_PWORD" class="form-control" type="password" id="password" aria-label="Username" aria-describedby="basic-addon1" />
                                <span class="input-group-text" onclick="togglePasswordVisibility(1)" style="display:block;" id="Eye1">
                                    <img src="~/iconos/eye-slash-fill.svg" width="16" height="16" fill="currentColor" />
                                </span>
                                <span class="input-group-text" onclick="togglePasswordVisibility(2)" style="display:none;" id="Eye2">
                                    <img src="~/iconos/eye-fill.svg" width="16" height="16" fill="currentColor" />
                                </span>
                            </div>
                            <span asp-validation-for="SUO_DS_PWORD" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success"><b>Iniciar Sesión </b></button>
                        </div>
                        <div class="my-3">
                            <p style="text-align: justify;">
                                <b>
                                    Tiene dudas acerca del sistema, ¿Has encontrado un error, necesita recuperar su contraseña de usuario, deseas modificaciones,
                                    o un desarrollo personalizado según tus necesidades?
                                    <span>
                                        <a style="color:red" class="btn" data-bs-toggle="modal" data-bs-target="#ModalContacto" id="lknCto"><b>¡Contactanos!</b></a>
                                    </span>.
                                </b>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Solicitud de contacto.</b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="NombresCto" class="form-label"><b>Nombre(s)<i class="cr">*</i>: </b></label>
                            <input type="text" class="form-control" placeholder="First name" id="CteNombre">
                        </div>
                        <div class="col">
                            <label for="ApellidosCto" class="form-label"><b>Apellidos<i class="cr">*</i>: </b></label>
                            <input type="text" class="form-control" placeholder="Last name" id="CteApe">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label for="ApellidosCto" class="form-label"><b>Correo electrónico<i class="cr">*</i>: </b></label>
                            <input type="email" class="form-control" placeholder="correo@dominio.com" id="CteEmail">
                        </div>
                        <div class="col">
                            <label for="ApellidosCto" class="form-label"><b>Teléfono<i class="cr">*</i>: </b></label>
                            <input type="tel" class="form-control" placeholder="5512345678" id="CteTel">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label for="ApellidosCto" class="form-label"><b>Asunto<i class="cr">*</i>: </b></label>
                            <select class="form-select" id="CteAs" onchange="cambioOpcion()" style="display:block">
                                <option value="1" selected>Solicitud de información.</option>
                                <option value="2">Recuperar contraseña.</option>
                                <option value="3">Reporte de Bug.</option>
                                <option value="4">Otro...</option>
                            </select>
                            <input type="text" style="display:none" class="form-control" placeholder="Asunto" aria-label="First name" id="CteOpOtro">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label for="ApellidosCto" class="form-label"><b>Descripción<i class="cr">*</i>: </b></label>
                            <textarea class="form-control" rows="3" id="CteDesc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnCanSolCon">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnSolContacto">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/login/login.js"></script>
</body>
</html>